<!DOCTYPE html>
<html>
    <% include ../layout/head %>

    <body>

        <% include ../layout/header %>

      	<div class="body">
      		<div class="row">
              <div class="page-header">
                  <h1>Welcome to EShop. This is the <%= process.env.NODE_ENV%> site.</h1>
              </div>
      		</div>
      	</div>

        <% include ../layout/footer %>

    </body>
</html>
