<!DOCTYPE html>
<html>
    <% include ../layout/head %>

    <body>

        <% include ../layout/header %>

      	<div class="body">
      		<div class="row">

            <form action="/products" method="POST">
              <input type="text" placeholder="name" name="name" />
              <input type="text" placeholder="price" name="price" />
              <button type="submit">Submit</button>
            </form>

      		</div>
      	</div>

        <% include ../layout/footer %>

    </body>
</html>
